<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>

    <link rel="stylesheet" href="{{ url_for('templates', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">⚡ EV Analytics Portal</div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/story">Story</a>
        </div>
    </nav>

    <div class="page-container">

        <h1>Story of Electric Cars in India</h1>

        <iframe
            class="tableau-frame"
            src="https://public.tableau.com/views/EV_Charge_and_Range_Analysis/StoryofElectricCarsinIndia?:showVizHome=no&:embed=true"
            frameborder="0"
            allowfullscreen>
        </iframe>

    </div>

</body>
</html>
